<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>DashBoard de solicitudes</h1>
        </div>
        <div class="col-sm-4">
            <input class="form-control" ng-model="$ctrl.filtro" ng-change="$ctrl.actualizarSolicitudes()" placeholder="Buscar" />
        </div>
        <div class="col-sm-4">
            <a class="btn btn-primary" ui-sref="app.solicitudes">Volver al listado de solicitudes</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>Abiertas</h2>
        </div>
        <div class="col-sm-4">
            <h2>En espera</h2>
        </div>
        <div class="col-sm-4">
            <h2>Cerradas</h2>
        </div>
    </div>
    <div id="contendorListas" class="row">
        <div class="col-sm-4 columnaFiltrada">
            <ul class="list-group">
                <li ng-repeat="elem in $ctrl.arrayFiltradoAbiertas track by $index">
                    <div class="list-group-item solicitudFiltrada">
                        <h4>{{elem.nombre}}</h4>
                        <hr />
                        <h5>{{elem.cliente}}</h5>
                        <h5>Candidato: {{ $ctrl.arrayCandidatosAbiertas[$index].nombre}}</h5>
                        <div ng-repeat="sal in $ctrl.contactosAbiertas | filter: {idCandidato: elem.candidatoId}:true">
                            <h5 ng-if="sal.tipo == 'Teléfono' && elem.idCandidato === sal.candidatoId">Telefono:{{sal.valor}}</h5>
                            <h5 ng-if="sal.tipo == 'Correo' && elem.idCandidato === sal.candidatoId">Correo:{{sal.valor}}</h5>
                            <h5 ng-if="sal.tipo == 'LinkedIn' && elem.idCandidato === sal.candidatoId">LinkedIn:{{sal.valor}}</h5>
                        </div>
                    </div>
                    <br />
                    <br />
                </li>
            </ul>
        </div>
        <div class="col-sm-4 columnaFiltrada">
            <ul class="list-group">
                <li ng-repeat="elem in $ctrl.arrayFiltradoEspera track by $index ">
                    <div class="list-group-item solicitudFiltrada">
                        <h4>{{elem.nombre}}</h4>
                        <hr />
                        <h5>{{elem.cliente}}</h5>
                        <h5>Candidato: {{ $ctrl.arrayCandidatosEspera[$index].nombre}}</h5>
                        <div ng-repeat="sal in $ctrl.contactosEspera | filter: {idCandidato: elem.candidatoId}:true">
                            <h5 ng-if="sal.tipo == 'Teléfono' && elem.idCandidato === sal.candidatoId">Telefono:{{sal.valor}}</h5>
                            <h5 ng-if="sal.tipo == 'Correo' && elem.idCandidato === sal.candidatoId">Correo:{{sal.valor}}</h5>
                            <h5 ng-if="sal.tipo == 'LinkedIn' && elem.idCandidato === sal.candidatoId">LinkedIn:{{sal.valor}}</h5>
                        </div>
                    </div>
                    <br />
                    <br />
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li ng-repeat="elem in $ctrl.arrayFiltradoCerradas track by $index">
                    <div class="list-group-item solicitudFiltrada">
                        <h4>{{elem.nombre}}</h4>
                        <hr />
                        <h5>{{elem.cliente}}</h5>
                        <h5>Candidato: {{ $ctrl.arrayCandidatosCerradas[$index].nombre}}</h5>
                        <div ng-repeat="sal in $ctrl.contactosCerradas | filter: {idCandidato: elem.candidatoId}:true">
                            <h5 ng-if="sal.tipo == 'Teléfono' && elem.idCandidato === sal.candidatoId">Telefono:{{sal.valor}}</h5>
                            <h5 ng-if="sal.tipo == 'Correo' && elem.idCandidato === sal.candidatoId">Correo:{{sal.valor}}</h5>
                            <h5 ng-if="sal.tipo == 'LinkedIn' && elem.idCandidato === sal.candidatoId">LinkedIn:{{sal.valor}}</h5>
                        </div>
                    </div>
                    <br />
                    <br />
                </li>
            </ul>
        </div>
    </div>
</div>
