<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Cambiar estado de la solicitud</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>¿ A que estado desea cambiar ?</p>
</div>
<div class="modal-footer">
    <button class="btn" type="button" ng-click="$ctrl.cancelar()">Cancelar</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.onDrop($event,$data,$ctrl.arrayFiltrado,'cerradaCliente')">cerradaCliente</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.onDrop($event,$data,$ctrl.arrayFiltrado,'cerradaIncorporacion')">cerradaIncorporacion</button>
</div>
